:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  width: 100%;
  background: #222222;

  mat-card {
    display: flex;
    max-width: 90%;
    max-height: 90%;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;

    .painel-comercial {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      color: #fff;
      padding: 25px 0;

      h1 {
        font-size: 2em;
        font-weight: bold;
        color: var(--color-primary);
      }

      .input-wrapper {
        display: flex;
        gap: 15px;

        mat-form-field input {
          color: #222222;
        }
      }
    }
  }
}
