<!-- <img src="../../assets/logo-betania.png" alt="" /> -->
<mat-card>
  <mat-card-title>Commercial Panel</mat-card-title>
  <div class="painel-comercial">
    <div class="input-wrapper">
      <mat-form-field color="primary">
        <mat-label>Path</mat-label>
        <input type="text" #input matInput placeholder="Insert path..." />
      </mat-form-field>
      <button
        mat-raised-button
        (click)="iframe.setPath(input.value)"
        color="primary"
        routerLink="iframe"
      >
        Iframe
      </button>
    </div>
  </div>
</mat-card>
