:host {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: var(--color-primary);
  align-content: center;
  justify-content: space-between;
  color: #eeeeee;

  .logo {
    margin: auto 15px;
    img {
      max-height: 50px;
    }
  }

  .menu {
    display: flex;
    margin: auto 15px;
    gap: 15px;

    h2 {
      margin: 0;
    }
  }

  a {
    color: #eeeeee;
    text-decoration: none;
  }

  a:link {
    color: white;
  }

  a:hover {
    color: var(--color-accent);
  }
}
