<mat-card>

  <mat-card-header>
    <mat-card-title>Logs</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class=" user-grid header">
      <span>ID</span>
      <span>USER</span>
      <span>DATE</span>
      <!-- <span>REVENUE</span> -->
      <span></span>
    </div>
    <mat-divider [inset]="true"></mat-divider>

    <cdk-virtual-scroll-viewport #scroller [itemSize]=" 50" class="list">
      <div *cdkVirtualFor="let loggedInfo of logs$ | async; templateCacheSize: 0">
        <div class="user-grid info">
          <span> {{ loggedInfo.log_id }} </span>
          <span class="title"> {{ loggedInfo.email }} </span>
          <span> {{ loggedInfo.login_date | date:'d/M/yyyy HH:mm' }} </span>
          <mat-icon aria-label="See more" (click)="openDialog(loggedInfo)"> remove_red_eye </mat-icon>
        </div>
        <mat-divider></mat-divider>
      </div>
      <!-- <mat-spinner *ngIf="loading"></mat-spinner> -->
    </cdk-virtual-scroll-viewport>
  </mat-card-content>

</mat-card>
