<mat-card>

  <mat-card-header>
    <mat-card-title>Roles</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="input-wrapper">
      <mat-form-field>
        <mat-label>User</mat-label>
        <input type="number" #search (keyup)="searchUser(search)" matInput placeholder="ID of user">
      </mat-form-field>
    </div>

    <div *ngIf="user" class="user">

      <div class=" user-grid header">
        <span>ID</span>
        <span>USER</span>
        <span>ROLE</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>

      <div class="user-grid info">
        <span> {{user.user_id}} </span>
        <span>{{user.email}} </span>
        <span> {{user.role}} </span>
      </div>


      <button *ngIf="!userIsAdmin()" (click)="makeAdmin()" mat-raised-button color="primary">Make Admin</button>

      <button *ngIf="userIsAdmin()" (click)="makeUser()" mat-raised-button color="primary">Make User</button>
    </div>

    <h2 *ngIf="message"><strong>{{message}}</strong></h2>

  </mat-card-content>

</mat-card>
