<mat-card>
  <mat-card-header>
    <mat-card-title>Roles</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="input-wrapper">
      <mat-form-field>
        <mat-label>User</mat-label>
        <input
        class="search-input"
          type="text"
          #search
          (keyup)="searchUser(search)"
          matInput
          placeholder="Email of user"
        />
      </mat-form-field>
    </div>

    <div *ngIf="users" class="user">
      <div class="user-grid header">
        <span>ID</span>
        <span>USER</span>
        <span>ROLE</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>

      <mat-selection-list #usersList [multiple]="false">
        <mat-list-option *ngFor="let user of users" [value]="user">
          <div class="user-grid info">
            <span> {{ user.user_id }} </span>
            <span>{{ user.email }} </span>
            <span> {{ user.role }} </span>
          </div>
        </mat-list-option>
      </mat-selection-list>
      <!-- 
      <p>
        Option selected:
        {{ usersList.selectedOptions.selected[0]?.value.email }}
      </p> -->

      <button
        *ngIf="
          usersList.selectedOptions.selected[0]?.value.role !== 'admin' &&
          usersList.selectedOptions.selected.length > 0
        "
        (click)="makeAdmin(usersList.selectedOptions.selected[0]?.value)"
        mat-raised-button
        color="primary"
      >
        Make Admin
      </button>

      <button
        *ngIf="
          usersList.selectedOptions.selected[0]?.value.role !== 'user' &&
          usersList.selectedOptions.selected.length > 0
        "
        (click)="makeUser(usersList.selectedOptions.selected[0]?.value)"
        mat-raised-button
        color="primary"
      >
        Make User
      </button>
    </div>

    <h3 class="message" *ngIf="message">
      <strong>{{ message }}</strong>
    </h3>
  </mat-card-content>
</mat-card>
